body {
  background: papayawhip;
}
* {
  border: 1px solid black;
  box-sizing: border-box;
  
}
.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}
.wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-grow: 3;
  justify-content: space-between;
  align-items: center;
  min-height: 70vh;
}
header, aside, .wrap  {
  flex-grow: 1;
  margin: .5em;
  max-height: 10vh;
  text-align: center;
}
footer {
  flex-grow: 2;
  margin: .5em;
  max-height: 80vh;
  background-color: azure;
  align-items: baseline;
}
aside  {
  display: flex;
  justify-content: space-between;
  width: 90%;
  min-height: 20vh;
  background-color: azure;
  

}

aside > div {
  flex-grow: 10;
  margin: .5em;
  
}

main {
  font-size: xx-large;
  font-weight: bolder;
  text-align: center;
  width: 90%;
  flex-grow: 3;
  margin: .5em;
  color: black;
  background-color: azure;
  
}
@media (min-width: 600px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  header {
    width: 100%;
    max-height: 10vh;
  }
  .wrap {
    justify-content: stretch;
    flex-basis: 70%;
      min-height:  80vh;
  }
  footer {
    flex-grow: 2;
    margin: .5em;
    max-height: 80vh;
    background-color: azure;
    align-items: baseline;
  }

}

